<% include header %>

    <main class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
            <div class="page-header text-center">
              <h1>Error 404 <br><small>Página não encontrada :(</small></h1>
            </div>
        </div>
    </main>

<% include footer %>